---

import { getTranslations, getLocale } from '../utils/i18n.js';

const t = getTranslations(Astro.url.pathname);
const locale = getLocale(Astro.url.pathname);

// calcola la lingua opposta
const opposite = locale === "it" ? "en" : "it";

// costruisci la nuova URL sostituendo solo il prefisso
const currentPath = Astro.url.pathname;
// rimpiazza /it/ o /en/ con /opposite/
const newPath = currentPath.replace(/^\/(it|en)/, `/${opposite}`);
---

  <div class="my-24 md:my-12 2xl:my-24 h-auto text-7xl 2xl:text-4xl ">
    <div class="flex justify-between">
      <h2 class="2xl:text-[100px] font-bold">{t.hello}</h2>
      <div>
        <a href={newPath} class="text-2xl md:text-lg pl-1 pr-4 pt-4 pb-1 bg-red-500 bg-opacity-50 text-white opacity-100 duration-3000 hover:underline hover:animate-pulse"> {opposite.toUpperCase()}
        </a>
      </div>
    </div>
    <h1 class="font-bold flex flex-col 2xl:flex-row text-7xl 2xl:text-[90px]">
      <span class="pt-6 2xl:pt-0 ">{t.iam}</span>

      <div class="hidden 2xl:block w-4"></div>

      <div
        class="flex flex-col 2xl:flex-row pt-3 2xl:pt-0 items-start 2xl:items-center"
      >
        <span class="border-b-4 border-black pb-1 font-pixelify leading-[1.1]">Lorenzo</span>

        <span class="hidden 2xl:block w-4 h-full border-b-4 "></span>

        <div class="pt-6 2xl:pt-0 flex items-center space-x-2">
          <span class="border-b-4 border-black pb-1 font-pixelify leading-[1.1]">Antei</span>
          <span class="inline-block blink-cursor text-black">&nbsp▎</span>
        </div>
      </div>
    </h1>
  </div>
