---
import "../styles/global.css";

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';

import ExpsNavbar from '../components/ExpsNavbar.astro';

import type { CollectionEntry } from 'astro:content';
import Cookiebot from '../components/Cookiebot.astro';
type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={`${title} ~ ${SITE_TITLE}`} description={description} />
		<Cookiebot />
	</head>
	<body class="">
		<ExpsNavbar activePage="focus-article" expTitle={title} expDate={pubDate} />
		<main class="mt-56 md:mt-52">
			<article>
				<div class="lg:px-6">
					<div class="px-6 md:px-12 lg:px-32 space-y-4 text-xl lg:mr-24">

						<slot />

					</div>
				</div>
			</article>
		</main>
	</body>
</html>
